<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>

<p>
  <strong>Specialists Name:</strong>
  <% @patient.specialist.each do |specialist| %>
      <li><%= specialist.name %></li>
  <% end %>
</br>

  <strong>Appointment Date:</strong>
  <% @patient.appointment.each do |appointment| %>
      <li><%= appointment.appointment_date %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
